* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  height: 100vh;
  align-items: center;
}

.card {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in-out;
}

.card.active {
  flex: 5;
}

.card.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;
}

.card h3 {
  font-size: 24px;
  font-family: Roboto, Arial;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .card:nth-of-type(4),
  .card:nth-of-type(5) {
    display: none;
  }
}
